body {
  background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: #232323;  
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px; */
  color: red;
}

.App {
  text-align: center;
}

.fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}

header{
  width: 100%;
  text-align: center;
}

header button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

header .success {
  border-color: #4CAF50;
  color: green;
}

header .success:hover {
  background-color: #4CAF50;
  color: white;
}

header .input_text {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.fields_area {
  display: flex;
  font-weight: bold;
  padding: 20px;
}

textarea{
  font-size: 20px;
}

.length_area {
  display: flex;
  font-weight: bold;
  padding: 20px;  
}

h1, h2 {  
  color: #ffffff;
  margin: 20px;
}